<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.testsuite.TODO_Tests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TODO_Test2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TODO_Test4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TODO_Test7</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TODO_Test6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TODO_Test3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TODO_Test1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TODO_Test5</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUpTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
</table>
