<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbc1e0">  <td>16/08/22 22:34:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TODO_Tests.TODO_Test1(java.lang.String, java.lang.String)[pri:0, instance:com.testsuite.TODO_Tests@457e2f02]">TODO_Test1</td> 
  <td>main@1122134344</td>   <td></td> </tr>
<tr bgcolor="bbc1e0">  <td>16/08/22 22:32:53</td>   <td>-105798</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TODO_Tests.setUp()[pri:0, instance:com.testsuite.TODO_Tests@457e2f02]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1122134344</td>   <td></td> </tr>
<tr bgcolor="bbc1e0">  <td>16/08/22 22:33:03</td>   <td>-95929</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TODO_Tests.setUpTest()[pri:0, instance:com.testsuite.TODO_Tests@457e2f02]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td>  <td>main@1122134344</td>   <td></td> </tr>
<tr bgcolor="bbc1e0">  <td>16/08/22 22:34:50</td>   <td>11369</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TODO_Tests.tearDown()[pri:0, instance:com.testsuite.TODO_Tests@457e2f02]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1122134344</td>   <td></td> </tr>
</table>
